.emp{
    width: 200px;
    border: solid 1px black;
    background-color: blueviolet;
    color: white;
    display: inline-block;
    margin: 10px;
    padding: 10px;
}

.emp-list{
    list-style: none;
    margin: 10px;
    border: 1px solid navy;
    padding: 10px;
    width: 200px;
}