<h3 style="color: cornflowerblue;" >Employee List</h3>
 
<!-- <div class = "emp" *ngFor = "let employee of employees">
    <div>Id:{{employee['id']}}</div>
    <div>Name:{{employee['name']}}</div>
    <div>Department:{{employee['department']}}</div>
    <div>Salary:{{employee['salary']}}</div>
    <div>Role:{{employee['role']}}</div>

</div> -->

<ul class ="emp-list" *ngFor = "let employee of employees" >
    <li>Id:{{employee['id']}}</li>
    <li>Name:{{employee['name']}}</li>
    <li>Department:{{employee['department']}}</li>
    <li>Salary:{{employee['salary']}}</li>
    <li>Role:{{employee['role']}}</li>

</ul>