<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <!-- <h4>Name: {{firstname}}</h4>
        <hr/>
        <h5>Company: {{company}} </h5> -->

        <div> <h5>Name: {{PrimaryData['Name']}}</h5></div>
        <div> <h5>Company: {{PrimaryData['Company']}}</h5></div>
        <div> <h5>Designation: {{PrimaryData['Designation']}}</h5></div>


</body>
</html>
