<div class="form">
    <h4 style="margin-top: 10px;margin-bottom: 10px;color: darkblue;" >Admin Login</h4>
    <div class="form-group">
        <label for="">Email</label>
        <input [(ngModel)] = "email" type="email" class="form-control">
    </div>
    <div class="form-group">
        <label for="">Password</label>
        <input [(ngModel)] = "password" type="password" class="form-control">
    </div>
    <div class="form-group">
        <button (click) = "onlogin()" class="btn btn-success">Login</button>
        <a routerLink="/signup" class="btn btn-warning float-right">SignUp</a>
    </div>
</div>
