<div class="container">
    <a style="margin: 10px;" class="btn btn-link" routerLink="/product-list">Product List</a>
    <a style="margin: 10px;" class="btn btn-link" routerLink="/product-add">Add Product</a>
    <a style="margin: 10px;" class="btn btn-link" routerLink="/CategoryList">CategoryList</a>
    <a style="margin: 10px;" class="btn btn-link" routerLink="/BrandList">BrandList</a>
    <a style="margin: 10px;" class="btn btn-link" routerLink="/MyOrders">MyOrders</a>
    <a style="margin: 10px;" class="btn btn-link" routerLink="/AboutUs">AboutUs</a>


<!-- <app-product-list></app-product-list> -->
<!-- <app-product-add></app-product-add> -->
<router-outlet></router-outlet>
</div>