<div class="container">
<h1>App Component</h1>
<!-- <app-employee-list></app-employee-list> -->
<!-- <app-car-list></app-car-list> -->
<!-- <app-mobile-list></app-mobile-list> -->
<!-- <app-accordion></app-accordion> -->
<app-rating></app-rating>
</div>