<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="form">
        <div class="form-group">
            <label for="">FirstName</label>
            <input [(ngModel)]="FirstName" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="">LastName</label>
            <input [(ngModel)]="LastName" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="">Address</label>
            <input [(ngModel)]="Address" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="">Contact</label>
            <input [(ngModel)]="Contact" type="number" class="form-control">
          </div>
        <div class="form-group">
          <label for="">Email</label>
          <input [(ngModel)]="Email" type="email" class="form-control">
        </div>
        <div class="form-group">
          <label for="">Password</label>
          <input [(ngModel)]="Password" type="password" class="form-control">
        </div>
        <div class="form-group">
            <label for="">Classroom</label>
            <input [(ngModel)]="ClassroomId" type="number" class="form-control">
          </div>
        <div class="form-group">
            <button (click) = "signup()" class="btn btn-success">Sign-Up</button>
            <button class="btn btn-link float-right">
                <a routerLink="/login">Login</a></button>
        </div>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
  
  

