<h3 style="color: cornflowerblue;" >Mobile-List</h3>

<table class="table table-dark table-bordered">
    <thead>
        <tr>
            <th>Sr. No</th>
            <th>Id</th>
            <th>Model</th>
            <th>Company</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor = "let mobile of mobiles;let i = index">
            <td>{{i+1}}</td>
            <td>{{mobile['id']}}</td>
            <td>{{mobile['model']}}</td>
            <td>{{mobile['company']}}</td>
            <td>{{mobile['price']}}</td>
            <td>
                <button (click)="edit(mobile)" class="btn btn-sm btn-primary">EDIT</button>
                <button (click)="delete(mobile)" class="btn btn-sm btn-warning">DELETE</button>
            </td>
        </tr>
    </tbody>
</table>
