<p>Car-List</p>

<table class="table table-dark table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Model</th>
      <th scope="col">Company</th>
      <th scope="col">Price</th>
      <th scope="col">Colour</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let car of cars">
      <td>{{car['id']}}</td>
      <td>{{car['model']}}</td>
      <td>{{car['company']}}</td>
      <td>{{car['price']}}</td>
      <td>{{car['color']}}</td>
    </tr>
  </tbody>
</table>