<div 
[class.box-red] = "boxType == 1"
[class.box-yellowgreen] = "boxType == 2"
[class.box-mediumslateblue] = "boxType == 3"
class="box"
>
</div>


<button [class.active] = "buttonnumber == 1" >1</button>
<button [class.active] = "buttonnumber == 2" >2</button>
<button [class.active] = "buttonnumber == 3" >3</button>
<button [class.active] = "buttonnumber == 4" >4</button>
<button [class.active] = "buttonnumber == 5" >5</button>
<button [class.active] = "buttonnumber == 6" >6</button>
