.box{
    width: 200px;
    height: 200px;
    border-radius: 3px;
    background-color: chartreuse;
    border-color: mediumturquoise;
    border: solid 2px mediumturquoise;
}

.box-red{
    width: 100px;
    height: 100px;
    border-radius: 3px;
    background-color:red;
}

.box-yellowgreen{
    width: 100px;
    height: 100px;
    border-radius: 3px;
    background-color:yellowgreen;
}

.box-mediumslateblue{
    width: 100px;
    height: 100px;
    border-radius: 3px;
    background-color:mediumslateblue;
}

.active{
    background-color: tomato;
}
