<div class="card">
    <div class="card-header">
      <h4>Add Product</h4>
    </div>
  
    <div class="card-body">
  
      <div class="form">
  
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="">Title</label>
              <input [(ngModel)]="title" type="text" class="form-control">
            </div>
          </div>
  
          <div class="col-md-6">
            <div class="form-group">
              <label for="">Price</label>
              <input [(ngModel)]="price" type="number" class="form-control">
            </div>
          </div>
        </div>
  
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="">Category</label>
              <select [(ngModel)]="category" class="form-control">
                <option [value]="category['id']" *ngFor="let category of categories">{{category['title']}}</option>
              </select>
            </div>
          </div>
  
          <div class="col-md-6">
            <div class="form-group">
              <label for="">Brand</label>
              <select [(ngModel)]="brand" class="form-control">
                <option [value]="brand['id']" *ngFor="let brand of brands">{{brand['title']}}</option>
              </select>
            </div>
          </div>
        </div>
  
        <div class="form-group">
          <label for="">Description</label>
          <textarea style="resize: none;" [(ngModel)]="description" rows="10" class="form-control"></textarea>
        </div>
      </div>
  
    </div>
  
    <div class="card-footer">
      <button (click)="onSave()" class="btn btn-success">Save</button>
      <button (click)="onCancel()" style="margin-left: 10px;" class="btn btn-danger">Cancel</button>
    </div>
  </div>