<div class="card">
    <div class="card-header">
        <h4 style="text-align: center;" >Products List</h4>
    </div>
    <div class="card-body">
        <table class="table table-striped table-bordered ">
            <thead class="thead-dark">
                <tr style="text-align: center;">
                    <th>Sr. No</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>Brand</th>
                    <th>Action</th>
                    
                </tr>
            </thead>

            <tbody>
                <tr style="text-align: center;" *ngFor = "let product of products; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{product['title']}}</td>
                    <td>{{product['description']}}</td>
                    <td>{{product['category']['title']}}</td>
                    <td>{{product['price']}}</td>
                    <td>{{product['brand']['title']}}</td>
                    <td> 
                        <button
                        (click) = "toggleproduct(product)"
                        [class.btn-success] = "product['isActive'] == 0"
                        [class.btn-warning] = "product['isActive'] == 1"
                        class="btn">{{product['isActive'] ? 'Disable' : 'Activate'}}</button>

                        <button (click) = "editproduct(product)" style="margin-left: 10px;" class="btn btn-sm btn-info">Edit</button>
                        <button style="margin-left: 10px;" class="btn btn-sm btn-danger">Delete</button>
                    </td>
                    
                </tr>
            </tbody>
        </table>
    </div>
</div>
