.box{
    width: 200px;
    height: 200px;
    background-color: violet;
}

.red-box{
    width: 200px;
    height: 200px;
    background-color: red;
}
.green-box{
    width: 200px;
    height: 200px;
    background-color: green;
}
.blue-box{
    width: 200px;
    height: 200px;
    background-color: blue;
}
.yellow-box{
    width: 200px;
    height: 200px;
    background-color: yellow;
}
