<button (click)="clicked()" >click</button>
<div 
[class.red-box] = "number == 1"
[class.green-box] = "number == 2"
[class.blue-box] = "number == 3"
[class.yellow-box] = "number == 4"
class="box"
>
</div>
<button (click)="changecolor(1)" >Red</button>
<button (click)="changecolor(2)" >Green</button>
<button (click)="changecolor(3)" >Blue</button>
<button (click)="changecolor(4)" >Yellow</button>