<h4 style="text-decoration: underline;color: blue; margin: 15px;" >LOGIN</h4>
<div class="form">
    <div style="margin: 10px;" class="form-group col-md-4">
      <label for="">Email</label>
      <input [(ngModel)] = "email" type="email" class="form-control">
    </div>
    <div style="margin: 10px;" class="form-group col-md-4">
        <label for="">Password</label>
        <input [(ngModel)] = "password" type="password" class="form-control">
      </div>

      <div class="form-group">
          <button (click)="login()" class="btn btn-success">Login</button>
      </div>
</div>

<!-- <h2>Login</h2>

<div class="form">
  <div class="form-group">
    <label for="">Email</label>
    <input [(ngModel)]="email" type="email" class="form-control">
  </div>

  <div class="form-group">
    <label for="">Password</label>
    <input [(ngModel)]="password" type="password" class="form-control">
  </div>

  <div class="form-group">
    <button (click)="login()" class="btn btn-success">Login</button>
    <button (click)="onCancel()" style="margin-left: 5px;" class="btn btn-danger">Cancel</button>
  </div>
</div> -->
