<div style="margin: 30px;" class="card">
    <div style="text-align: center;" class="card-header">
        <h4>Application Users List</h4>
    </div>
    
    <div class="card-body">
        <table class="table table-striped table-bordered thead-dark">
            <thead>
                <tr style="text-align: center;">
                    <th>Sr.No</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Active</th>
                    <th>Action</th>
                </tr>
            </thead>
    
            <tbody>
                <tr style="text-align: center;" *ngFor = "let user of users; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{user['firstName']}} {{user['lastName']}}</td>
                    <td>{{user['email']}}</td>
                    <td>{{user['active']}}</td>
                    <td>
                        <button
                        (click) = "toggleuser(user)"
                        [class.btn-success] = "user['active'] != 1"
                        [class.btn-warning] = "user['active'] == 1"
                        class="btn">{{user['active'] == 1 ? 'Suspend' : 'Activate'}}</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div class="card-footer"></div>
    </div>
    
