<h3>Rating's Demo</h3>

<img src="assets/star.png" *ngIf = "rate>=1" alt="">
<img src="assets/star.png" *ngIf = "rate>=2" alt="">
<img src="assets/star.png" *ngIf = "rate>=3" alt="">
<img src="assets/star.png" *ngIf = "rate>=4" alt="">
<img src="assets/star.png" *ngIf = "rate>=5" alt="">

