<h3>Add Product</h3>

<div class="form">
    <div class="form-group">
        <label for="">Title</label>
        <input [(ngModel)] = "title" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label for="">Description</label>
        <textarea [(ngModel)] = "description" class="form-control" rows="10"></textarea>    
    </div>
    <div class="form-group">
        <label for="">Price</label>
        <input [(ngModel)] = "price" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label for="">Category</label>
        <select [(ngModel)] = "category" class="form-control" name="" id="">
            <option value="1">Electronics</option>
            <option value="2">Home Decor</option>
            <option value="3">Clothes</option>
            <option value="4">Sports</option>

        </select>
    </div>
    <div class="form-group">
        <button (click)="AddProduct()" class="btn btn-success">ADD</button>
        <button style="margin-left:10px ;" class="btn btn-warning">Cancel</button>
       
    </div>
</div>
